.contactsBlock {
    height: 100vh;
    background-color: darksalmon;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:220px;
    flex-wrap: wrap;
}

.button{
    background-color: #bcdce8;
    padding: 20px;
    margin: 20px;
}