@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include proportions(170px, 160px);
  margin: 10px 5px;
  padding: 30px 20px;
  background-color: $bgColor;
  position: relative;
  @media screen and (max-width: 772px) {
    @include proportions(155px, 130px);
    padding: 15px 15px;
  }
  @media screen and (max-width: 685px) {
    height: 120px;
  }
  @media screen and (max-width: 432px) {
    @include proportions(135px, 100px);
  }

  &:before, &:after {
    position: absolute;
    content: "";
    transition: all .4s;
  }

  &:before {
    border-bottom: 2px solid $primaryTextColor;
    border-left: 2px solid $primaryTextColor;
    @include proportions(10%, 15%);
    left: -0px;
    bottom: -0px;
  }

  &:after {
    border-top: 2px solid $primaryTextColor;
    border-right: 2px solid $primaryTextColor;
    @include proportions(10%, 15%);
    top: -0px;
    right: -0px;
  }

  &:hover:before {
    @include proportions(100%, 100%);
  }

  &:hover:after {
    @include proportions(100%, 100%);
  }

  .icon img {
    @include proportions(50px, 50px);
    border-radius: 4px;
    @media screen and (max-width: 685px) {
      @include proportions(40px, 40px);
    }
    @media screen and (max-width: 432px) {
      @include proportions(32px, 32px);
    }
  }

  .title {
    color: $titleTextColor;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    @media screen and (max-width: 772px) {
      font-size: 18px;
    }
    @media screen and (max-width: 432px) {
      font-size: 16px;
    }
    @media screen and (max-width: 344px) {
      font-size: 13px;
    }
  }
}


