@import "../../styles/sass/variables";

.title {
  margin: 0 0 15px;
  padding: 0 0 15px;
  font-size: 45px;
  color: $titleTextColor;
  font-weight: 800;
  line-height: 1.2;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: $primaryTextColor;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  @media screen and (max-width: 722px) {
    font-size: 40px;
  }

  h3 {
    margin: 0;
  }
}

