@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.workingConditionsBlock {
  padding: 80px 0;
  background-color: $bgSecondColor;
}

.container {
  @include container();
  @include flex(column, center);

  .button {
    margin: 20px 0 0;
  }
}