.workingConditionsBlock {
    height: 40vh;
    background-color: skyblue;
}

.workingConditionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: lightgray;
}

.button {
    background-color: lightgray;
    padding: 20px;
}