.skillsBlock {
    background-color: #1c1d24;
    padding: 80px 0;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #bcdce8;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media screen and (max-width: 794px) {
    .skills {
        justify-content: center;
    }
}