@import "../common/styles/sass/variables";

.skillsBlock {
  background-color: $bgSecondColor;
  padding: 80px 0;
  min-height: 100vh;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      /*border: 1px solid;*/
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
      @media screen and (max-width: 794px) {
        justify-content: center;
      }
    }
  }
}





