@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.mainBlock {
  padding: 80px 0;
  background: $bgColor;
  min-height: 100vh;
  flex-wrap: wrap;

  .container {
    @include container();
    @include flex(row, space-between);
    @media screen and (max-width: 1347px) {
      justify-content: center;
    }

    .descriptionContainer {
      @include flex(column, center);

      .titleContainer {
        .title {
          @include text($titleTextColor, 55px, 700);
          line-height: 0.5;
          @media screen and (max-width: 775px) {
            font-size: 45px;
          }
          @media screen and (max-width: 690px) {
            font-size: 40px;
          }
          @media screen and (max-width: 603px) {
            font-size: 35px;
          }
          @media screen and (max-width: 517px) {
            font-size: 30px;
          }
          @media screen and (max-width: 432px) {
            font-size: 25px;
          }
          @media screen and (max-width: 344px) {
            font-size: 20px;
          }
        }

        .text {
          @include text($primaryTextColor, 45px, 700);
          @media screen and (max-width: 775px) {
            font-size: 40px;
          }
          @media screen and (max-width: 690px) {
            font-size: 35px;
          }
          @media screen and (max-width: 603px) {
            font-size: 30px;
          }
          @media screen and (max-width: 517px) {
            font-size: 25px;
          }
          @media screen and (max-width: 432px) {
            font-size: 20px;
          }
          @media screen and (max-width: 344px) {
            font-size: 15px;
          }
        }
      }
    }

    .photoContainer {
      width: 400px;
      @include flex(row, center);
      @media screen and (max-width: 1347px) {
        margin-top: 30px;
      }

      .photo {
        @include proportions(340px, 500px);
        border: 12px solid $bgSecondColor;
        @media screen and (max-width: 560px) {
          @include proportions(90%, 75%);
        }
      }
    }


  }
}










