@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.buttonContainer {
  /*  @include buttonContainer(60px);*/
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    /*  @include btn(45px);*/
    line-height: 45px;
    background: $bgButtonColor;
    opacity: 0.8;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: $titleTextColor;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    transition: 1s;

    @media screen and (max-width: 603px) {
      font-size: 14px;
    }
    @media screen and (max-width: 517px) {
      font-size: 12px;
    }
    @media screen and (max-width: 344px) {
      font-size: 10px;
    }

    &::before,
    &::after {
      /*@include btn1();*/
      position: absolute;
      content: "";
      top: 0;
      left: -100px;
      width: 10px;
      height: 100%;
      background-color: white;
      filter: blur(5px);
      transform: skew(-30deg);
    }

    &:hover::before, &:focus::before {
      /* @include btn2();*/
      left: calc(100% + 150px);
      transition: 1s;
    }

    &:hover::after, &:focus::after {
      /*    @include btn3();*/
      left: calc(100% + 100px);
      transition: 1s 0.5s;
    }

    &:focus, &:hover {
      /* @include btn4();*/
      opacity: 1;
      cursor: pointer;
      outline: none;
    }
  }
}