@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.buttonContainer {
  @include buttonContainer(60px);
  @media screen and (max-width: 344px) {
    height: 45px;
  }

  .btn {
    @include btn(45px);
    @include btn1;
    @media screen and (max-width: 390px) {
      font-size: 13px;
      line-height: 35px;
    }
  }
}