@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  background-color: $bgSecondColor;
  width: 280px;
  margin: 10px 0;

  .buttonContainer {
    @include buttonContainer(310px);
    background-image: url("./logoProject.png");
    background-size: cover;
    background-position: center;

    .btn {
      @include btn(30px);

      &::before,
      &::after {
        @include btn1();
      }

      &:hover::before, &:focus::before {
        @include btn2();
      }

      &:hover::after, &:focus::after {
        @include btn3();
      }

      &:focus, &:hover {
        @include btn4();
      }
    }
  }

  .descriptionContainer {
    padding: 15px;

    .description {
      color: $textColor;
    }

    .link {
      text-align: end;

      a {
        text-decoration: none;
        color: $primaryTextColor;
        cursor: pointer;

        &:hover {
          color: $titleTextColor;
        }
      }
    }
  }
}
