.project {
    background-color: #1c1d24;
    width: 250px;
    text-align: center;
    margin-top: 20px;
}

.buttonContainer {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://simg.nicepng.com/png/small/826-8263562_the-react-logo-react-js-logo-svg.png");
    background-size: cover;
    background-position: center;
}

.descriptionContainer {
    padding: 10px;
}

.title{
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.25rem;
    line-height: 1.2;
}