@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  background-color: $bgSecondColor;
  width: 280px;
  margin: 10px 0;

  .buttonContainer {
    @include buttonContainer(310px);
    background-image: url("../../assets/image/logoProject.png");
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 380px) {
      height: 295px;
    }
    @media screen and (max-width: 360px) {
      height: 280px;
    }
    @media screen and (max-width: 340px) {
      height: 265px;
    }
    @media screen and (max-width: 280px) {
      height: 220px;
    }

    .btn {
      @include btn(35px);
      @include btn1;
      @media screen and (max-width: 603px) {
        font-size: 14px;
      }
      @media screen and (max-width: 517px) {
        font-size: 12px;
      }
      @media screen and (max-width: 390px) {
        font-size: 10px;
        line-height: 30px;
      }
    }
  }

  .descriptionContainer {
    padding: 15px;

    .description {
      color: $textColor;
      @media screen and (max-width: 344px) {
        font-size: 12px;
      }
    }

    .link {
      text-align: end;

      a {
        text-decoration: none;
        color: $primaryTextColor;
        cursor: pointer;

        &:hover {
          color: $titleTextColor;
        }
      }
    }
  }
}
