.project {
    background-color: #1c1d24;
    width: 250px;
    text-align: center;
    margin-top: 20px;
}

.buttonContainer {
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.pinclipart.com/picdir/big/66-669662_sharpen-your-biology-class-12-term-2-clipart.png");
    background-size: cover;
    background-position: center;
}


.btn {
    background: #dc965a;
    color: #fff;
    padding: 0 25px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.descriptionContainer {
    padding: 10px;
}

.title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.25rem;
    line-height: 1.2;
}

