@import "./common/styles/sass/variables";
@import "./common/styles/sass/mixins";

.App {
  font-family: 'Nunito', sans-serif;
  line-height: 1.7;
  @include text($textColor, 16px, 400);
  @media screen and (max-width: 344px) {
    font-size: 13px;
  }
}
