@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.nav {
  @include flex(row, space-between);
  @include proportions(30%, 40px);
  margin-right: 50px;
  @media screen and (max-width: 900px) {
    width: 40%;
  }
  @media screen and (max-width: 700px) {
    width: 50%;
  }
  @media screen and (max-width: 550px) {
    width: 60%;
  }
  @media screen and (max-width: 450px) {
    width: 80%;
    margin-right: 20px;
  }

  .active {
    color: $primaryTextColor;
  }

  a {
    @include text($titleTextColor, 20px, 700);
    line-height: 1.7;
    text-decoration: none;
    cursor: pointer;
    @media screen and (max-width: 900px) {
      font-size: 18px;
    }
    @media screen and (max-width: 450px) {
      font-size: 16px;
    }
    @media screen and (max-width: 344px) {
      font-size: 14px;
    }
  }
}