@import "../common/styles/sass/variables";

.projectsBlock {
  background-color: $bgColor;
  padding: 80px 0;

  .projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      border: 1px solid;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 20px;
      @media screen and (max-width: 805px) {
        justify-content: center;
      }
    }
  }
}


