@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
  background-color: $bgColor;
  padding: 80px 0;

  .projectsContainer {
    @include flex(column, flex-start);

    .projects {
      width: 100%;
      @include flex(row, space-between);
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 20px;
      @media screen and (max-width: 805px) {
        justify-content: center;
      }
    }
  }
}


