.projectsBlock {
    background-color: #131416;
    padding: 100px 0;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media screen and (max-width: 722px) {
    .projects {
        justify-content: center;
    }

}